// el-table 样式
.el-table {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;

  table {
    width: 100%;
  }

  .el-table__header th {
    font-weight: bold;
    color: var(--el-text-color-primary);
    background: var(--el-fill-color-light) !important;
  }
}

// el-dialog 样式
.el-dialog {
  .el-dialog__header {
    padding: 15px 20px;
    margin: 0;
    border-bottom: 1px solid var(--el-border-color-lighter);

    .el-dialog__title {
      font-size: 17px;
    }
  }
}
